@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  text-decoration: none;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: none;
  color: inherit; 
}


.number {
  all: unset; 
  color: inherit; 
  font-size: inherit; 
  font-family: inherit; 
}


a:hover {
  text-decoration: underline; 
}

/* Opcional: Estilo para eliminar la decoración de los números en elementos específicos */
span {
  /* O aplica esta regla a otros elementos que contengan números */
}



.heart-container:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

.play-button {
  background: transparent;
  border: none;
  font-size: 24px; /* Tamaño del icono de reproducir/pausar */
  cursor: pointer;
  color: black; /* Color del icono */
  transition: color 0.3s; /* Suaviza el cambio de color */
}

.play-button:hover {
  color: #ff4d4d; /* Color al pasar el ratón sobre el botón */
}


/* Asegúrate de incluir esto en tu archivo CSS */

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Ajusta según la fuente que uses */
}

input[type="text"],
input[type="number"] {
  width: 100%; /* Asegura que el input ocupe todo el ancho */
  padding: 10px; /* Añade espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Color del borde */
  margin-bottom: 10px; /* Espaciado entre inputs */
}

button {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
}

button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el ratón */
}

.parallax {
  position: relative;
  overflow: hidden; /* Asegúrate de que nada salga del contenedor */
}

.parallax img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%); /* Centra la imagen */
  will-change: transform; /* Optimiza la animación */
}

.parallax-scroll {
  transform: translateZ(0); /* Para forzar el uso de GPU */
  transition: transform 0.2s ease-out; /* Transición suave */
}
